@import url("../../App.css");

.chatHeadContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  margin-bottom: 1.1rem;
  padding: 0.6rem 2rem 1rem 0.6rem;
  border-radius: 3px;
}

.chatHeadContainer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
}

.chatHeadContainer > div:nth-child(2) p {
  margin: 0.25em 0 0 0;

  color: var(--color4);
}

.profilePic {
  width: 2rem;
  margin: 0 1rem 0 0;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.newMessage {
  display: inline-block;
  margin-left: 0.5em;
  width: 0.5rem;
  background-color: var(--red);
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.unreadChat {
  background-color: var(--color1);
}

.boldText {
  padding-right: 0.2em;
  font-weight: var(--bold);
  color: var(--color6);
}

.blueText {
  padding-left: 0.2em;
  color: var(--blue);
}

.blueText:hover,
.boldText:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.photoComment {
  /* display: flex; */
}

.postedPhoto {
  width: 2.1rem;
  border-radius: 5px;
  border: 5px double var(--color3);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.postedPhoto:hover {
cursor: pointer;
}

.msgText {
  padding: 1em;
  margin-top: 0.75em;
  outline: 1px solid var(--color4);
  border-radius: 3px;

  font-size: var(--smallText);
  color: var(--color5);
}

.msgText:hover {
  background-color: var(--color3);
  outline: none;

  cursor: pointer;
}
