:root {
  /* Sizes */
  --Mobile: 375px;
  --Desktop: 1440px;

  /* Primary Colors*/

  --red: hsl(1, 90%, 64%);
  --white: hsl(0, 0%, 100%);
  --blue: hsl(219, 85%, 26%);

  /* Neutral Colors */

  --color1: hsl(210, 60%, 98%);
  --color2: hsl(211, 68%, 94%);
  --color3: hsl(205, 33%, 90%);
  --color4: hsl(219, 14%, 63%);
  --color5: hsl(219, 12%, 42%);
  --color6: hsl(224, 21%, 14%);

  /* Typography */
  /* --p: 16px; */
  --p: clamp(0.75rem, 0.4643rem + 1.4286vw, 2.25rem);

  /* Font */
  --reg: 500;
  --bold: 800;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--p);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

